<!-- Event Binding -->
<label>Server Name</label>
<input type="text"
       class="form-control"
       (input)="onUpdateServerName($event)">
<input type="text"
       class="form-control"
       [(ngModel)]="serverName">
<!-- Property Binding -->
<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add Server</button>
<!--<p [innerText]="serverCreationStatus"></p>-->
<p *ngIf="serverCreated; else noServer">Server was created, server names is {{serverName}}</p>
<ng-template #noServer>
  <p>No Server was created!</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
<hr>
<label>UserName</label>
<input type="text"
       class="form-control"
       (input)="enableResetUserName()"
       [(ngModel)]="userName">
<button class="btn btn-success"
        [disabled]="!allowUserNameReset"
        (click)="onResetUserName()">Reset User Name</button>
<p>{{userName}}</p>
<hr>
<button class="btn btn-primary"
        (click)="showSecret = !showSecret">Toggle Details</button>
<p *ngIf="showSecret">{{secretContent}}</p>
<button class="btn btn-primary"
        (click)="logToggleDetails()">Log Toggle Details</button>
<div *ngFor="let logItem of log; let i = index"
    [ngStyle]="{backgroundColor: i >= 4 ? 'blue': 'transparent'}" [ngClass]="{'white-text': i >= 4}">
  {{logItem}}
</div>
